*~
.cache/
.local/
.bash_history
.zsh_history
.gtkrc-2.0.mine
recently-used.xbel
Trash/
*.swp
*.swo
*.bak
*.tmp
*.log
*~
.idea/
.vscode/
*.code-workspace
*.pid
*.lock
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*-backup*/
*-backup-*/
dconf/
libvirt/
evolution/
gnome-boxes/
pulse/
*.env

