/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Ja KooLit - Global rofi fonts */

/* This is where you can change fonts and sizes */


/*****-- Fonts Size and Font Size -----*****/
configuration {
font: "Adwaita Sans Medium 12";
}


/*****-- Elements Font Size -----*****/
element-text {
font: "Adwaita Sans Medium 10";
}
